.navbar {
    width: 100%;
    background-color: rgb( 15, 23, 42);
    min-height: 50px;
    display: flex;
    justify-content: flex-end;

}

.container {
    display: flex;
    min-width: 30%;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: rgb(100, 116, 139);
    text-decoration: none;
}