body{
  top: 0;
  background-image: url('../src/static/images/scattered-forcefields.svg');
  background-repeat: no-repeat;
  background-size: cover;

}



.cards{
  display: flex;
  flex-direction: row;

}



@media screen and (max-width:600px) {

  body{
    width: 100%;
  }

  .cards{
    display: flex;
    flex-direction: column;
  }
  
}


